.about {
  margin-top: 5rem;
}

.about-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5% 15%;
  height: 700px;
  background-color: aliceblue;
}

.about-wrap h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: 655px;
}

.about-wrap p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: 655px;
}

.about-wrap a {
  color: red;
}

@media screen and (max-width: 769px) {
  .about {
    margin-top: 4rem;
  }
}
