.footer {
  display: block;
  height: 75px;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
}

.footer-wrap {
  display: flex;
  padding-left: 10rem;
  text-align: center;
  align-items: center;
  height: 75px;
  width: 500px;
}

.footer-wrap p {
  color: aliceblue;
}

#link-icons {
  height: 40px;
  margin: 5px;
  width: 40px;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 769px) {
  .footer {
    width: 100%;
    height: 120px;
  }

  .footer-wrap {
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 120px;
    width: 100%;
  }

  .footer-wrap p {
    color: aliceblue;
  }

  #link-icons {
    height: 40px;
    margin: 5px;
    width: 40px;
    text-align: center;
    align-self: center;
  }
}
